	    <div class="well conteudo"  id="formProprietario">
		<form id="formProprietario" method="post" class="form">      
			<fieldset>
				<div class="text-left title">
					<h2>
						Proprietário
						<div class="text-right">
							<a href="#!cadastro_proprietario" class="btn btn-success">
								<i class="fa fa-plus" aria-hidden="true"></i>
								&nbsp;Adicionar Proprietário
							</a>
						</div>
					</h2>
				</div>
				<div class="form-group row">
					<br><br>
					<div id="conteudoProprietario">
					
					</div>
				</div>
			</fieldset>      
		</form>
		</div>
<script type="text/javascript">
	var proprietario = true;
</script>

<script type="text/javascript" src="app/js/ajax/ajax_proprietario.js"></script>